- isIndex = true;

- metadescription = 'Curated board game recommendations based on games you already enjoy. We want to make it easy for you to find your next game to play!'

doctype html
include ../includes/_head.pug
body
  include ../includes/_analytics.pug
  .container
    .navbar
      a.logo-title(href='https://goodgameshelf.com')
        img.logo-desktop(src='img/logo.png' alt='Good Game Shelf')
        img.logo-mobile(src='img/logo-mobile.png' alt='Good Game Shelf')
      include ../includes/_sidebar.pug
    main
      a.promotional(href='https://honeycomb.goodgameshelf.com')
        img(src='img/honeycomb-logo-full.webp' alt="Honeycomb Word Game")
        img(src='img/play-our-new-game-handwritten.webp' alt="Honeycomb Word Game")

      .content
        .section
          h1 Welcome to Good Game Shelf
          img(src="img/home/game-shelf-unbordered.jpg" alt="IKEA Kallax shelf filled with board games")
          p.desktop-welcome-text
            | Curated recommendations for games you should buy, based on games you already love. #[strong Click a game on the left] to get started!
          p.mobile-welcome-text
            | Curated recommendations for games you should buy, based on games you already love. #[strong Tap the menu above] and choose a game to get started!
          hr
        .section(id='recent-articles')
          h2.home Recent Articles
          .card-container
            a.card(href="recommendations/clank.html")
              img(src='img/clank-deck-building-adventure.png' alt="Clank!: A Deck-Building Adventure board game in progress")
              h3 Games like Clank!
              p June 9, 2022
            a.card(href="recommendations/carcassonne.html")
              img(src='img/carcassonne-header.jpg' alt="Carcassonne Board Game")
              h3 Games like Carcassonne
              p May 31, 2022
            a.card(href="recommendations/splendor.html")
              img(src='img/splendor-header.jpg' alt="Splendor Board Game")
              h3 Games like Splendor
              p May 20, 2022
            a.card(href="recommendations/scrabble.html")
              img(src='img/scrabble-header.jpg' alt="Scrabble board game")
              h3 Games like Scrabble
              p May 19, 2022
            a.card(href="recommendations/risk.html")
              img(src='img/risk.jpg' alt="Risk board game in progress")
              h3 Games like Risk
              p April 25, 2022
            a.card(href="recommendations/great-western-trail.html")
              img(src='img/great-western-trail.jpg' alt="Great Western Trail board game")
              h3 Games like Great Western Trail
              p October 12, 2021
            a.card(href="recommendations/terraforming-mars.html")
              img(src='img/terraforming-mars-board-view.jpg' alt="Terraforming Mars board game")
              h3 Games like Terraforming Mars
              p October 11, 2021
            a.card(href="recommendations/wingspan.html")
              img(src='img/wingspan-board-game.jpg' alt="Wingspan board game in progress")
              h3 Games like Wingspan
              p October 10, 2021
        br
        br
        .section(id='mail-signup')
          br
          br
          include ../includes/_email-inline.pug
  include ../includes/_footer.pug