.final-section
  hr
  p
    | Did we miss any good recommendations? Have other feedback for us? Send us an email at&nbsp;
    a.text-link(href="mailto:support@spiralburst.com?subject=GGS: Request a Game") support@spiralburst.com
    |  and let us know!