.final-section
  hr
  p
    | Want more recommendations or have feedback for us? Send an email to&nbsp;
    a.text-link(href="mailto:support@spiralburst.com?subject=GGS: Request a Game") support@spiralburst.com
    | &nbsp;
    | and we'll get back to you!