footer
  .container
    .footer-content
      ul.no-bullets
        li
          a.footer-link(href="https://goodgameshelf.com/about.html") About Good Game Shelf
        li
          a.footer-link(href="https://spiralburst.com") Spiralburst Studio
        li
          a.footer-link(href="mailto:support@spiralburst.com") Contact
      p.amazon-disclaimer As an Amazon Associate, we earn money from qualifying purchases.
script(type="text/javascript", src=isIndex ? "init.js" : "../init.js")