footer
  .container
    .footer-content
      .note
        ul
          li
            a.text-link(src="about.html") About Good Game Shelf
            a.text-link(src="https://spiralburst.com") Spiralburst Studio
            a.text-link(src="mailto:support@spiralburst.com") Contact
            //- a.text-link(src="affiliate.html") Affiliate Program
      p.amazon-disclaimer As an Amazon Associate, we earn money from qualifying purchases.
script(type="text/javascript", src=isIndex ? "init.js" : "../init.js")