footer
  .container
    .footer-content
      ul.no-bullets.footer-links
        li
          a.footer-link(href="https://goodgameshelf.com/about.html") About Good Game Shelf
        li
          a.footer-link(href="https://spiralburst.com") Spiralburst Studio
        li
          a.footer-link(href="mailto:support@spiralburst.com") Contact
      p.footer-note As an Amazon Associate, we earn money from qualifying purchases.
      p.footer-note-end This site is protected by reCAPTCHA and the Google #[a(href="https://policies.google.com/privacy") Privacy Policy] and #[a(href="https://policies.google.com/terms") Terms of Service] apply.
script(type="text/javascript", src=isIndex ? "init.js" : "../init.js")