- var twitterLink = "https://twitter.com/intent/tweet?url=http%3A%2F%2Fgoodgameshelf.com%2Frecommendations%2F" + toID(titles[index]) + "&text=Check%20out%20these%20%23boardgame%20recommendations%20if%20you%20like%20" + titles[index] + "!%0D%0A%0D%0A";
- var fbLink = "https://www.facebook.com/sharer/sharer.php?u=http://goodgameshelf.com/recommendations/" + toID(titles[index]);
.row
  a.icon(href=twitterLink)
    img(src='../img/twitter.svg' alt='complexity')
  a.icon(href=fbLink)
    img(src='../img/facebook.svg' alt='complexity')
  //- .icon
  //-   img(src='../img/link.svg' alt='complexity')