body {
  color: #242424;
  font-family: 'PT Serif', serif;
  font-size: 20px;
  line-height: 32px;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #FFFEFA;
}
a {
  color: #232323;
  text-decoration: none;
  padding: 0 20px;
}
p {
  letter-spacing: 1px;
}
h1,h2,h3,h4,h5 {
  margin: 0 0 20px 0;
}
h1 {
  display: inline-block;
  position: relative;
  font-size: 40px;
  line-height: 40px;
}
h1::after {
  content: '';
  display: block;
  position: absolute;
  top: 16px;
  left: 0;
  right: 0;
  height: 70%;
  background-color: #FFE4DE;
  z-index: -1;
}
h2 {
  margin-top: 24px;
  font-size: 24px;
}
h2.category-header {
  margin-top: 32px;
  font-size: 32px;
}
h2.category-header.home {
  margin-top: 0;
  font-size: 32px;
}
h3 {
  margin-top: 24px;
  font-size: 24px;
}
.card h3 {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card p {
  font-size: 16px;
  margin: 0 0 5px 12px;
}

hr {
  border-top: 1px solid #A68A87;
  margin-bottom: 64px;
}
.navbar .rounded-btn,
.rounded-btn {
  display: inline-block;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  color: #FFF;
  border-radius: 40px;
  padding: 0 20px;
  background-color: #FF5C00;
  transition: .1s transform, .1s opacity, .1s box-shadow;
}
.navbar .rounded-btn {
  margin-top: 40px;
  align-self: flex-start;
}
.navbar .rounded-btn::after,
form::after {
  content: '';
  position: absolute;
  top: -24px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #9C817D;
}
.navbar .rounded-btn:hover {
  color: #fff !important;
}

.navbar .logo-desktop {
  width: 66px;
  height: 85px;
}

.rounded-btn:active {
  transform: translateY(1px);
  opacity: .7;
}
.row {
  display: flex;
  justify-content: space-between;
}
.col {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.flex-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
::selection {
  background: #FFE4DE; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FFE4DE; /* Gecko Browsers */
}
.text-link {
  padding: 0;
  position: relative;
  display: inline-block;
}
.text-link::after {
  content: '';
  position: absolute;
  height: 2px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #FF5C00;
  z-index: -1;
  transition: height .2s, background-color .2s, transform .2s;
}
.text-link:hover::after {
  height: 16px;
  transform: translateY(-2px);
  background-color: #FFE4DE;
}
.footer-link {
  color: #FFF;
  padding: 0;
  font-size: 16px;
  position: relative;
  display: inline-block;
}

.quote {
  display: inline-block;
  margin-left: 24px;
}

.link-section {
  font-size: 16px;
  color: #1F1F1F;
  padding-left: 20px;
  margin-bottom: 16px;
  height: 20px;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 64px;
}
.navbar.sticky-bottom {
  position: absolute;
}
.navbar .logo-title {
  font-weight: bold;
  display: flex;
  align-items: center;
  height: auto;
  font-size: 24px;
  margin-bottom: 42px;
}
.navbar .logo-mobile {
  display: none;
}
.navbar .links {
  display: flex;
  flex-direction: column;
}
.navbar a {
  color: #A68A87;
  font-size: 16px;
  position: relative;
  margin-bottom: 16px;
  height: 20px;
  line-height: 20px;
  transition: color .3s;
}
.navbar a:not(.logo-title).active {
  color: #FF5C00;
  font-weight: bold;
}
.navbar a:not(.logo-title):hover {
  color: #FF5C00;
}
.navbar .logo {
  height: 48px;
}
.hamburger {
  display: none;
}

/* Board unfold */
.board-wrapper {
  display: flex;
  justify-content: center;
  perspective: 800px;
}
.board {
  width: 400px;
  display: flex;
  align-self: center;
  perspective: 800px;
  perspective-origin: 50% 150%;
  transform: rotateX(45deg);
  transition: transform .5s ease-in-out;
}
.board:hover {
  transform: rotateX(0);
}
.board img {
  width: 100%;
  display: block;
}
.board .board-left,
.board .board-right {
  width: 50%;
  background-color: #e2e2e2;
  transition: transform .5s ease-in-out;
}
.board .board-left {
  transform-origin: right;
  transform: rotateY(90deg);
}
.board .board-right {
  transform-origin: left;
  transform: rotateY(-90deg);
}
.board .board-left::after,
.board .board-right::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgb(255,255,255);
  transition: opacity .5s ease-in-out
}
.board .board-left::after {
  background: linear-gradient(90deg, rgba(255,255,255,0) 40%, rgba(0,0,0,.8) 100%);
  background-blend-mode: screen;
}
.board .board-right::after {
  background: linear-gradient(-90deg, rgba(255,255,255,0) 40%, rgba(0,0,0,.8) 100%);
}
.board:hover .board-left,
.board:hover .board-right {
  transform: rotateY(0deg);
}
.board:hover .board-left::after,
.board:hover .board-right::after {
  opacity: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
main {
  display: flex;
  max-width: 700px;
  width: calc(100% - 652px); /* 300px + 20px for right sticky */
  flex-grow: 1;
  margin-left: 332px; /* 32px of padding */
}

.content {
  margin-top: 100px;
  width: 100%;
}
.content img {
  display: block;
  max-width: 100%;
}

.caption {
 width: 100%;
 text-align: right;
 font-size: 12px;
 line-height: 24px;
}

.note {
  font-size: 16px;
  line-height: 28px;
}
.update {
  font-size: 12px;
  line-height: 22px;
}

.toc {
  position: relative;
  display: flex;
  flex-direction: column;
}
.toc a {
  color: #1F1F1F;
}
.toc .section-links {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.toc .indicator {
  content: '';
  display: block;
  height: 36px;
  width: 4px;
  position: absolute;
  top: -8px;
  background-color: #FF5C00;
  transition: transform .3s cubic-bezier(.5,.5,0,1.75);
}
.toc .indicator .progress {
  display: block;
  height: 0;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #FF5C00;
  transition: height .1s;
}
.section {
  position: relative;
  padding-bottom: 20px;
}

.honor {
  padding-bottom: 40px;
}
.end-section {
  position: relative;
  padding-bottom: 50px;
}
.final-section {
  position: relative;
  padding-bottom: 100px;
}

.affiliate-disclaimer {
  background-color: #EFEFEF;
  font-size: 14px;
  padding: 10px 15px;
  line-height: 22px;
}

.top-bar {
  margin-bottom: 36px;
}
.top-bar .icon {
  margin-left: 8px;
  margin-right: 0;
  background: none;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* justify-content: space-evenly; */
}

a.card {
  position: relative;
  overflow: hidden;
  max-width: 325px;
  min-width: 300px;
  margin: 0 25px 30px 0;
  padding: 0px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  background-color: #FFF;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.19);
  transition: box-shadow .3s, transform .3s;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 19px 28px rgba(0,0,0,0.22), 0 15px 12px rgba(0,0,0,0.18);
}
.card::after {
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2);
  line-height: calc(100vh - 112px);
  text-align: center;
  font-size: 48px;
  opacity: 0;
  transition: opacity .3s;
}

.members {
  /* display: flex; */
  flex-direction: row;
}
.member {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px 0;
  /* align-items: center; */
}
.avatar {
  width: 120px;
  height: 120px;
  margin-right: 20px;
  border: 5px solid #9876F9;
  border-radius: 50%;
  overflow: hidden;
}
.avatar img {
  height: 100%;
}
.avatar img.portrait {
  width: 100%;
  height: auto;
}
.bio {
  flex: 1;
  line-height: 20px;
  font-size: 16px;
  margin-right: 20px;
}

img {
  border-radius: 6px;
}

.card img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.promotional {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  flex-direction: column;
}

.promotional img {
  width: 150px;
}

.game-overview {
  margin: 24px 0 0;
  padding-bottom: 24px;
  justify-content: space-between;
  /* border-bottom: 1px solid #A68A87; */
}
.game-overview .row {
  justify-content: flex-start;
  flex-wrap: wrap;
}
.game-overview .tag {
  margin-right: 16px;
}

.tags {
  width: 300px;
  position: absolute;
  top: 0;
  right: -20px;
  transform: translateX(100%);
  transition: opacity .3s;
}
.tags.sticky-bottom {
  opacity: 0;
}
.tag {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-size: 16px;
}
.icon {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
  height: 36px;
  width: 36px;
  margin-right: 8px;
  padding: 2px;
  background-color: #FFE4DE;
}
.icon.small {
  height: 32px;
  width: 32px;
}
.icon.small img {
  height: 24px;
  width: 24px;
}

li {
  margin-bottom: 15px;
}
.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.no-bullets.footer-links {
  margin-bottom: 40px;
}

footer {
  margin-top: 20px;
  background-color: #363636;
}
.footer-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: calc(100% - 652px); /* 300px + 20px for right sticky */
  margin: 40px 0 0 332px; /* 32px of padding */
  line-height: 28px;
}

.grecaptcha-badge {
  visibility: hidden;
}

.email-octopus-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email-octopus-form-row {
  flex-grow: 1;
  width: 100%;
  max-width: 450px;
  margin: 20px 0;
}
.email-octopus-form-row input {
  width: 100%;
  border: 0;
  height: 40px;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
}
.email-octopus-form-row-subscribe {
  margin: 0;
}
.email-octopus-form-wrapper {
  margin: 0 40px 30px 40px;
  background-color: #FFE4DE;
  padding: 40px;
  border-radius: 6px;
}
.email-octopus-form-wrapper p {
  margin: 0 0 10px 0;
}
.email-octopus-form-row-hp {
  position: absolute;
  left: -5000px;
}
.email-octopus-form-wrapper .email-octopus-form-row-subscribe button {
  border: 0;
  margin: 0;
  padding: 0 20px;
  font-weight: normal;
  background-color: #FF5C00;
  font-family: 'Montserrat', sans-serif;
}

.email-octopus-error-message {
  color:#e74c3c
}

.footer-note {
  margin-bottom: 0;
  font-size: 14px;
}

.footer-note-end {
  margin-bottom: 20px;
  font-size: 14px;
}

.footer-note-end a {
  padding: 0;
  color: #FFF;
}

.mobile-welcome-text {
  display: none;
}

@media (max-width: 1170px) {
  .navbar {
    padding: 16px;
  }

  main,
  .footer-content {
    width: calc(100% - 356px); /* -96px for narrower padding */
    margin-left: 204px;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    position: relative;
    width: 100%;
    transform: none;
    right: auto;
  }
  .tags .tag {
    margin-right: 16px;
    font-size: 12px;
  }
  .promotional {
    display: none;
  }
}

@media (max-width: 900px) {
  body {
    font-size: 16px;
  }

  .bio {
    font-size: 14px;
  }

  .members {
    flex-direction: column;
  }

  main,
  .footer-content {
    width: calc(100% - 250px); /* -100px for smaller tags */
  }

  /* .tags {
    width: 200px;
  } */
}

@media (max-width: 700px) {
  .container {
    margin-top: 48px;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px 20px;
    box-sizing: border-box;
    justify-content: center;
    background: white;
    box-shadow:
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12),
      0 1px 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .desktop-welcome-text {
    display: none;
  }
  .mobile-welcome-text {
    display: block;
  }

  .promotional {
    display: none;
  }
  .navbar .logo-title {
    padding: 0;
    margin: -20px -20px -20px 0;
  }
  .navbar .logo-desktop {
    display: none;
  }
  .navbar .logo-mobile {
    display: block;
    height: 28px;
  }
  .navbar .links {
    transform: translateY(20px);
    overflow: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 0;
    transition: max-height .3s;
    z-index: 1;
  }
  .navbar .links.active {
    max-height: calc(100vh - 48px);
  }
  .navbar .link-section {
    display: block;
    width: 100%;
    padding: 0;
  }
  .navbar .indicator {
    display: none;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    top: 9px;
    right: 20px;
    display: block;
    z-index: 2;
  }

  .toc .section-links {
    display: none;
  }

  main,
  .footer-content {
    width: 100%;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
  }

  .content {
    margin-top: 0;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    position: relative;
    width: 100%;
    transform: none;
    right: auto;
  }
  .tags .tag {
    margin-right: 16px;
    font-size: 12px;
  }
  .email-octopus-form-wrapper {
    margin: 0 20px 30px 20px;
    background-color: #FFE4DE;
    padding: 30px 20px;
    border-radius: 6px;
  }
}